.f-smiles {
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    font-size: 24px;
    .f-smile {
        flex: 1 0 40px;
        height: 40px;
        cursor: pointer;
    }
}
