.f-bg-color {
    display: flex;
    gap: 10px;
    &-toggle {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #eee;
        cursor: pointer;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
    &-list {
        display: flex;
        gap: 5px;
    }
    &-item {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        &-back {
            border-radius: 2px;
            background-color: #eee;
            cursor: pointer;
            margin-right: 10px;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4);
        }
    }
    &-item-active {
        border: 2px solid #fff;
    }
}
